{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if request.user.id == post.user.id %}
        <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
    {% endif %}

    <p><a href="{% url 'account:user_profile' post.user.id %}">{{ post.user.username }}</a> - {{ post.updated|date:"Y-M" }}</p>

    <div>
        <h2>
            {% if post.title %}
                <div class="text-muted small">{{ post.title }}</div>
            {% else %}
                <p></p>
            {% endif %}
        </h2>
        {% if post.image %}
            <img class="rounded mb-2 img-thumbnail" src="{{ post.image.url }}">
        {% else %}
            <img class="rounded mb-2 img-thumbnail" src="{% static 'images/default-image-post.jpg' %}" alt="default">
        {% endif %}
       <p>{{ post.body }}</p><hr/>
    </div>


    {% if request.user.is_authenticated %}
        <form action="" method="post">
            <a href="{% url 'home:post_like' post.id %}" class="{% if can_like %}disabled {% endif %} btn btn-primary col-md-2">Like {{ post.likes_count }}</a>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Send">
        </form><br/>
    {% else %}
        <p class="alert alert-danger">Only logged in user can comment.</p>
    {% endif %}

    {% for comment in comments %}
        <div class="card bg-dark text-white">
            <p class="card-header">{{ comment.user }} | {{ comment.created|timesince }}</p>
            <p class="card-body">{{ comment.body }}</p>
            {% if request.user.is_authenticated %}
                <form action="{% url 'home:ad_reply' post.id comment.id %}" method="post" >
                    {% csrf_token %}
                    {{ reply_form.as_p  }}
                    <input type="submit" value="send">

                </form>
            {% endif %}
            {% with replies=comment.rcomments.all %}
                {% for reply in replies %}
                    <p class="bg-primary p-3 m-2 ">{{ reply.user }} <br/> {{ reply.body }}</p>
                {% endfor %}
            {% endwith %}
        </div><br/>
    {% empty %}
        <p>No Comment yet! </p>
    {% endfor %}


{% endblock %}